* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

.register-container{
	max-width: 480px;
	margin: 0 auto;
	padding: 3rem;
	display: flex;
	flex-direction: column;

	.title-container{
		border: 1px solid 221;
		text-align: center;
		font-size: 1.38rem;
		font-weight: 500;
	}

	.register-img{
		width: 80%;
		margin: 30px auto;
	}

	.form-container form{
		width: 100%;

		label{
			width: 100%;
			font-weight: 500;
		}

		input{
			width: 100%;
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: 8px;
			padding: 12px;
			font-size: 1rem;
			color: #333;
			margin: 10px 0;

		 &::placeholder{
			 color: #aaa;
		 }

		 &:focus{
			 outline: none;
			 border: 1px solid #6d7dd0;
		 }
		}
	}

	button{
		width: auto;
		height: auto;
		text-align: center;
		font-size: 1rem;
		font-weight: 700;
		background-color: #f3f3f3;
		color: #aaa;
		padding: 10px;
		border-radius: 8px;
		border: none;
		margin: 2rem auto 0;
	}
}