* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	transition: .2s ease-in-out;
}

.register-container{
	max-width: 480px;
	margin: 0 auto;
	padding: 3rem 4rem;
	display: flex;
	flex-direction: column;

	.title-container{
		text-align: center;
		font-size: 1.38rem;
		font-weight: 500;
	}

	.register-img{
		width: 75%;
		margin: 2rem auto;
	}

	form{
		display: flex;
		flex-flow: column;
		align-items: center;
		width: 100%;

		.label-container{
			width: 100%;
			margin: 1rem 0;
		}

		label{
			font-weight: 500;
		}

		input{
			width: 100%;
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: 8px;
			padding: 12px;
			font-size: 1rem;
			color: #333;
			margin: .5rem 0 0;

		 &::placeholder{
			 color: #aaa;
		 }

		 &:focus{
			 outline: none;
		 }
		}
	}

	.active{
		border: 1px solid #6d7dd0;
	}

	.error{
		border: 1px solid #FC8282;
	}

	.message{
		font-weight: 500;
		font-size: .6rem;
		text-align: left;
		display: none;
	}
}

button{
	width: auto;
	height: auto;
	text-align: center;
	font-size: 1rem;
	font-weight: 700;
	background-color: #f3f3f3;
	color: #aaa;
	padding: 10px;
	border-radius: 8px;
	border: none;
	margin: 2rem auto 0;

	&.button-active{
		background-color: #6d7dd0;
		color: #fff;

		&:hover{
			background-color: #4557b1;
		}
	}
}