* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	transition: .15s ease-in-out;
}

$title-size: 1.5rem;
$copy-size: .81rem;
$bolder-text: 700;
$medium-text: 500;
$regular-text: 400;
$light-text: 300;
$primary-color: #6d7dd0;
$primary-color-hover: #4557b1;
$alert-color: #F5BD05;

.line-break{
	display: block;
}

.container{
	max-width: 480px;
	margin: 0 auto;
	padding: 3rem 3rem;
	display: flex;
	flex-direction: column;

	.register-img{
		width: 75%;
		margin: 2rem auto;
	}

	form{
		display: flex;
		flex-flow: column;
		align-items: center;
		width: 100%;

		.label-container{
			width: 100%;
			margin: 1rem 0;
		}

		label{
			font-weight: $medium-text;
		}

		input{
			width: 100%;
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: 8px;
			padding: 12px;
			font-size: 1rem;
			color: #333;
			margin: .5rem 0 0;

		 &::placeholder{
			 color: #aaa;
		 }

		 &:focus{
			 outline: none;
		 }
		}
	}

	.active{
		border: 1px solid $primary-color;
	}

	.error{
		border: 1px solid #FC8282;
	}

	.message{
		font-weight: $medium-text;
		font-size: .6rem;
		text-align: left;
		display: none;
	}

	.container-link-register{
		display: flex;
		justify-content: center;
		margin-top: 2rem;

		.register-copy{
			font-size: .9rem;
		}
	}
}

.text-container{
	margin: .75rem 0;

	&.align-right{
		text-align: right;
	}

	&.align-center{
		text-align: center;
	}

	&.align-left{
		text-align: left;
	}
}

.title{
	font-size: $title-size;
	font-weight: $medium-text;
}

.copy{
	font-size: $copy-size;
	font-weight: $light-text;
}

.message-error{
	color: red;
	font-weight: $bolder-text;
	display: none;
	text-align: center;
}

button{
	width: auto;
	height: auto;
	text-align: center;
	padding: .9rem;
	font-size: .9rem;
	font-weight: $bolder-text;
	border-radius: 8px;
	border: none;
	margin: 2rem auto 0;
	cursor: pointer;

	&:disabled{
		background-color: #f3f3f3;
		color: #aaa;
	}

	&.button-active{
		background-color: $primary-color;
		color: #fff;

		&:hover{
			background-color: $primary-color-hover;
		}
	}

	&.button-alert{
		background-color: $alert-color;
		color: black;

		&:hover{
			background-color: lighten($alert-color, 10%);
		}
	}

	&.link{
		background: none;
		color: $primary-color;
		font-weight: $bolder-text;
		padding: 0;
		margin: 0 .5rem;

		&:hover{
			text-decoration: underline;
			color: $primary-color-hover;
		}
	}
}