.image-container{
	background-size: cover;

	.player-container{
		max-width: 480px;
		margin: 0 auto;
		padding: 4rem 3rem;
		display: flex;
		flex-direction: column;
		position: relative;
		height: 100vh;

		.arrow-player-container{
			position: absolute;
			line-height: .1rem;
			top: 2.2rem;
			filter: invert(1);

			.back-to-home{
				padding: .35rem;
				cursor: pointer;
			}

			&:hover{
				background-color: rgb(255, 255, 255, .75);
				border-radius: 5rem;
				filter: invert(0);
			}

		}
	}
}