header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;

	.logo-container{
		width: 7rem;
	}

	.profile-settings-container{
		display: flex;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&.back-color{
			background-color: #6d7dd0;
		}

		.preview{
			width: 1rem;
			height: 1rem;

			&.change{
				border-radius: 50%;
				width: 3rem;
				height: 3rem;
				object-fit: cover;
				transition: 0s;
			}
		}
	}
}

.copy-container{
	margin: .5rem 0;
}

.audios-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem 0;

	.audio-container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 85%;
		margin: 1rem 0;
		padding: 1.5rem;
		border-radius: .5rem;
		color: #fff;

		.img-container{
			width: 3.5rem;
			height: 3.5rem;
			background-size: cover;
			border-radius: 50%;
		}

		.info-container{
			display: flex;
			flex-direction: column;

			.name-audio{
				font-weight: 700;
				font-size: .85rem;
				margin: .5rem 0;
			}

			.time-audio{
				font-weight: 400;
				font-size: .85rem;
				margin: .5rem 0;
			}
		}

		.play-btn{
			width: 2rem;
			height: 2rem;
			cursor: pointer;

			&:hover{
				transform: scale(1.15, 1.15);
			}
		}
	}
}