.light-mode{
	background-color: #f4f4fa;

	&.dark-mode{
		background-color: #232027;
		color: #fff;
	}
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;

	.logo-container{
		width: 7rem;
	}

	.profile-settings-container{
		display: flex;
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&.back-color{
			background-color: #6d7dd0;
		}

		.preview{
			width: 1rem;
			height: 1rem;

			&.change{
				border-radius: 50%;
				width: 2rem;
				height: 2rem;
				object-fit: cover;
				transition: 0s;
			}
		}
	}
}

.copy-container{
	margin: .5rem 0;
}