// Email link to reset password
.container-email-link{
	max-width: 480px;
	margin: 0 auto;
	padding: 10rem 3rem;
	display: flex;
	flex-direction: column;

	.email-link-img img{
		width: 30%;
		margin: 2rem 0;
	}

	.container-logo{
		background-color: #6d7dd0;
		margin-top: 5rem;
		display: flex;
		align-items: center;
		justify-content: center;

		.deep-logo{
			margin: .25rem auto;

			img{
				width: 4rem;
			}
		}
	}
}